@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;700&display=swap");
body {
    font-family: "Manrope", sans-serif;
    height: 250vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    position: absolute;
    top: 5%;
    font-size: 3rem;
}

h1 span {
    text-align: center;
    font-weight: 300;
    font-size: 2.8rem;
    opacity: 0.6;
}

span {
    display: block;
    font-size: 4.5rem;
    color: black;
    /* text-transform: capitalize; */
    font-weight: 700;
}

.arrow {
    display: inline-block;
    padding-top: 0;
    font-size: 4rem;
    transform: scaleX(1);
    animation: scrollDown 0.55s ease-in-out infinite alternate-reverse;
}

@keyframes scrollDown {
    to {
        padding-top: 30px;
        transform: scaleX(0.92);
    }
}

.section-texts {
    position: relative;
}

.texts {
    position: relative;
    top: -8px;
    left: -8px;
}

.texts-mask {
    position: absolute;
    top: 0;
    left: 0;
}

.texts-mask span {
    color: transparent;
}

.quote-left::before {
    content: "❝";
    color: red;
    position: absolute;
    top: -3.5rem;
    left: -3.5rem;
}

.texts-mask .animate::after {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    background: #fff;
    height: 105%;
    width: 105%;
    transform-origin: right;
    transform: scaleX(1);
    opacity: 0.75;
}

.texts-mask .animate {
    transition: all 0.75s ease-in-out;
    transform-origin: right;
    color: rgba(0, 0, 0, 0);
    transform: scaleX(1);
}

.texts-mask .animate.animate-init {
    transform: scaleX(0);
}
